@media (max-width: 768px) {
    body {
        font-size: 75%;
    }

    .app {
        width: 90%;
        padding: 6vh 5vw;
        border-radius: 10vw;
    }

    .quote__text {
        min-height: auto;
    }
}
