* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0671B7;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

.app {
    background-color: #FFFFFF;
    border-radius: 1vw;
    padding: 2vh 2vw;
    width: max(420px, 36vw);
}

.app__header {
    text-align: center;
    margin: 2vh 0;
    font-size: 2.2em;
}

.app__content {
    padding: 2vh 0;
    border-bottom: 2px solid #1C1C1C;
}

.quote__text {
    font-size: 1.7em;
    min-height: 14vh;
    font-weight: 300;
}

.quote__author {
    margin-top: 3vh;
    text-align: right;
    font-size: 1.3em;
}

.app__menu {
    text-align: right;
    padding: 2vh 0;
}

.btn {
    font-size: 1.1em;
    transition: .1s;
    padding: 1vh 1vw;
    border-radius: 1vw;
    margin-left: 4px;
    border: 1px solid #000000;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    background-color: #0671B7;
    color: #FFFFFF;
}

.btn--primary:hover {
    background-color: #185c8a;
}

.btn--secondary {
    color: #0671B7;
    background-color: transparent;
}

.btn--secondary:hover {
    background-color: #d8d8d8;
}
